:root {
    --cor-primaria: #000000;
    --cor-secundaria: #900C3F;
    --cor-terciaria: #C70039;
    --cor-quarta: #F94C10;
    --cor-quinta: #F8DE22;

    --fonte-primaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    border: 0;
}

body {
    background-color:var(--cor-primaria);
    box-sizing: border-box;

}

.Logoanc {
    display:flex;
    flex-direction: row;
    color: var(--cor-quarta);
    gap:0.1rem;
    justify-content: center;
    align-items: center;

}


.Logo{
    font-family: var(--fonte-primaria);
    font-weight: 900;
    color: var(--cor-quarta)
}
.Menu{
    height: 10vh;
    display:flex;
    flex-direction:row;
    height: 2,5rem;
    position: relative;
    left: 4rem;
}

.MenuNav {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;


}
.MenuAnc {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-quarta);
}


.Banner {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.maintext {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10rem;
    gap: 2rem;
}

.title  {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 10%;
}   


.text {
    border: 1px solid var(--cor-terciaria);
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 15px 25px;
    width: 400px;
    font-family: var(--fonte-primaria);
    color: var(--cor-quinta);
    font-size: 1rem;
    text-align: center;
    
}

.imgbanner {
    width: 40%;
    height: 60%;
    position: relative;
    right: 10rem;
}

.Top10 {
    display: inline;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 10rem;

}

.Titletop10 {
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 3rem;
    color: white;
    display: flex;
    position: relative;
    left: 10rem;
    margin: 2rem;
    border-bottom: 0.2rem solid white;

}

.Games{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    height: auto;
    margin-bottom: 10rem;

}
.GameOne {
    background-color: white;
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    position: relative;
    left: 11.5rem;


}

.BackIMG {
    background-color: var(--cor-secundaria);
    width: 20rem;
    height: 5rem; 
    border-radius: 0.9rem 0.9rem 0 0;

}

.gameimg {
    box-sizing: border-box;
    width: 12rem;
    height: 12rem;
    position: relative;
    top: -10%;
    left: 20%;
    border-radius: 2rem;

}

.allimg {
    width: 100%;
    height: auto;
    display: block; 
    box-sizing: inherit;
    margin: 0;
    border-radius: 2rem;
}

.GameTitle {
    font-family: var(--fonte-primaria);
    font-weight: bold;
    color: var(--cor-primaria);
    position: relative;
    top: -2%;
    left: 2%;
    font-size: 1.5rem;

}

.GameCategories {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    top: 1%;
    left: 2%;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--cor-primaria);;
}
.categories {
    font-family: var(--fonte-primaria);
    font-weight: medium;
    color: var(--cor-primaria);
    font-size: 0.8rem;
    border-radius: 0.1rem;
    border: 0.1rem solid var(--cor-primaria);
    width: 25%;

}

.PositionDetails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    top: 8%;
    left: 5%;
    

}

.ranking {
    font-family: var(--fonte-primaria);
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 4rem;
 
}

.rank{
    font-family: var(--fonte-primaria);
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
    background-color: var(--cor-secundaria);
    display: inline-block;
    height: 6rem;
    width: 6rem;
    border-radius: 4rem;
    text-align: center;
    line-height: 6rem;
    text-shadow: 0.6rem 0.1rem 0.1rem rgb(0, 0, 0, 0.5);
}

footer {
    background-color: white;
    width: 100%;
    height: 10rem;
}